:root {
    --dark-mode-color: #1f1f1f;
    --light-mode-color: #fefefe;
    --primary-color: var(--light-mode-color);
    --secondary-color: var(--dark-mode-color);
}

body {
    margin: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.svg-light {
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(128deg) brightness(106%) contrast(99%);
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--secondary-color);
}

#title {
    margin: .5rem;
}

.icon{
    max-width: 2rem;
    max-height: 2rem;
}

.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#content {
    height: 100vh;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.color-box {
    border: 2px solid var(--secondary-color);
    border-radius: 1rem;
}

.color-content {
    border-bottom: 2px solid var(--secondary-color);
    height: 85%;
    width: 100%;
}

.options {
    height: 15%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: right;
    gap: 1rem;
}

.color-content {
    border-radius: 1rem;
}